<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SisPizza</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroServlet</display-name>
    <servlet-name>CadastroServlet</servlet-name>
    <servlet-class>servlets.CadastroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroServlet</servlet-name>
    <url-pattern>/CadastroServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CardapioServlet</display-name>
    <servlet-name>CardapioServlet</servlet-name>
    <servlet-class>servlets.CardapioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardapioServlet</servlet-name>
    <url-pattern>/CardapioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PedidoServlet</display-name>
    <servlet-name>PedidoServlet</servlet-name>
    <servlet-class>servlets.PedidoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PedidoServlet</servlet-name>
    <url-pattern>/PedidoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NovoPedido</display-name>
    <servlet-name>NovoPedido</servlet-name>
    <servlet-class>servlets.NovoPedido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NovoPedido</servlet-name>
    <url-pattern>/NovoPedido</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NovoPedidoServlet</display-name>
    <servlet-name>NovoPedidoServlet</servlet-name>
    <servlet-class>servlets.NovoPedidoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NovoPedidoServlet</servlet-name>
    <url-pattern>/NovoPedidoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaPedidosClienteServlet</display-name>
    <servlet-name>ListaPedidosClienteServlet</servlet-name>
    <servlet-class>servlets.ListaPedidosClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaPedidosClienteServlet</servlet-name>
    <url-pattern>/ListaPedidosClienteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaAtendimentoFuncionarioServlet</display-name>
    <servlet-name>ListaAtendimentoFuncionarioServlet</servlet-name>
    <servlet-class>servlets.ListaAtendimentoFuncionarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaAtendimentoFuncionarioServlet</servlet-name>
    <url-pattern>/ListaAtendimentoFuncionarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AtenderPedidoServlet</display-name>
    <servlet-name>AtenderPedidoServlet</servlet-name>
    <servlet-class>servlets.AtenderPedidoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtenderPedidoServlet</servlet-name>
    <url-pattern>/AtenderPedidoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DespachoPedidoServlet</display-name>
    <servlet-name>DespachoPedidoServlet</servlet-name>
    <servlet-class>servlets.DespachoPedidoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DespachoPedidoServlet</servlet-name>
    <url-pattern>/DespachoPedidoServlet</url-pattern>
  </servlet-mapping>
</web-app>